.vscode
.dist
AVR-COTS-Application.atsln
AVR-COTS-Application.cproj
AVR-COTS-Application
AVR-COTS-Application.componentinfo.xml
Backup Of Simulation.pdsbak
Last Loaded Simulation.pdsbak
obj
*.workspace